body {
	margin: 0;
	height: 4000px;
}

div{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	/*float: left;*/
}

.box1{
	position: absolute;
	background-color: yellow;
	z-index: 1;

}

.box2{
	position: fixed;
	margin: 10px;
	background-color: red
}